Repository Seek4samurai/notebook, changes with the labels that .github/labeler.yml gives for each.
All labels: review needed :eyes:, documentation :book:, tooling :wrench:, dependencies :package:, others:fountain_pen:, git:date:

docs: testing docs labeler
  README.md
Labels: documentation :book:

fix: 🐛 added permissions for labeler
  .github/workflows/label.yml
Labels: tooling :wrench:

feat: 🎸 added PR temp, welcome actions, issues template
  .github/ISSUES_TEMPLATE/bug_report.yaml
  .github/ISSUES_TEMPLATE/docs_report.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/issue-triage-label.yml
  .github/workflows/welcome.yml
Labels: tooling :wrench:

fix: 🐛 typo fix for issue_template
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/docs_report.yaml
Labels: tooling :wrench:

chore: 🤖 updated styles and home page
  package-lock.json
  package.json
  src/App.css
  src/Routes.js
  src/components/Home.jsx
  src/components/Post.jsx
  src/content/data.js
  src/content/home.js
  src/index.css
  src/index.js
  src/pages/Home.jsx
  src/pages/Login.jsx
  src/pages/Signup.jsx
  src/styles/Home.module.css
  src/styles/Post.module.css
  src/styles/index.css
Labels: review needed :eyes:, dependencies :package:

.github/labeler.yml:

"review needed :eyes:":
  - src/**/*

"documentation :book:":
  - README.md

"tooling :wrench:":
  - .github/**/*

"dependencies :package:":
  - package.json
  - package.lock.json

"others:fountain_pen:":
  - public/**/*

"git:date:":
  - .gitignore
